<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %></title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('./partials/nav') %>
  <h1><%= name %></h1>
  <p>address:<%= address %> phone:<%= phone %></p>
  <% if (isOpen) { %>
   <p>Yes! we are open now.</p>
  <% } else{%>
    <p>Sorry! we are closed now</p>
    <% } %>
</body>
</html>